@media screen and (max-width: 768px) {
    #login {
        width: 120px;
        text-align: center;
        padding: 5px;
    }

    #sobre-autoescola {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 40px;
    }

    #titulo-boas_vindas {
        font-size: 16px;
    }

    .textos-autoescola {
        font-size: 14px;
    }

    #texto2 {
        width: 100%;
    }
}