@charset "UTF-8";

@media screen and (max-width: 768px) {
    #login {
        width: 120px;
        text-align: center;
        padding: 5px;
    }

    #introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #introducao > #texto-introdutorio {
        position: static;
        transform: translateY(140%);
    }

    #valores-cartas {
        padding-bottom: 50px;
    }

    #titulo-cartas {
        transform: translateY(10%);
        font-size: 26px;
    }

    #cartas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        padding-top: 7%;
    }

    #titulo-avaliacoes {
        padding-top: 20px;
    }

    #subtitulo-avaliacoes {
        width: 80%;
    }

    #avaliacoes-alunos {
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        padding-bottom: 80px;
    }

    #anuncio-app {
        display: flex;
        flex-direction: column;
    }

    #informacoes-app {
        padding-top: 50px;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }

    #carta-A {
        margin-left: 7%;
    }
    
    #carta-AB {
        margin-left: -8%;
    }

    #valores-cartas, #avaliacoes, #anuncio-app {
        height: 105vh;
    }

}

