@charset "UTF-8";

@media screen and (max-width: 768px) {
    #login {
        width: 120px;
        text-align: center;
        padding: 5px;
    }

    #valores-cartas {
        height: 230vh;
    }

    #cartas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        padding-top: 7%;
    }

    #avaliacoes {
        height: 221vh;
    }

    #subtitulo-avaliacoes {
        width: 80%;
        transform: translateX(13%);
    }

    #avaliacoes-alunos {
        display: flex;
        flex-direction: column;
        margin-top: 8%;
    }

    #anuncio-app {
        height: 168vh;
    }

    #sobre-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 11%;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }

    #carta-A {
        margin-left: 7%;
    }
    
    #carta-AB {
        margin-left: -8%;
    }

    #valores-cartas {
        height: 105vh;
    }

    #avaliacoes {
        height: 105vh;
    }
}

