@media screen and (max-width: 768px) {
    #login {
        width: 120px;
        text-align: center;
        padding: 5px;
    }

    #form-login {
        height: 64vh;
    }

    #header-login {
        padding: 10px;
        margin-left: 9%;
        margin-top: -1%;
    }

    #img-carro {
        width: 30%;
    }

    #form-campos {
        height: 45vh;
    }

    #texto-login {
        font-size: .9em;
        margin-right: 0;
    }

    form {
        margin-top: 17%;
    }

    .form-label {
        font-size: 1em;
    }

    .campos {
        font-size: .9em;
        width: 80%;
    }

    #campo-senha {
        width: 80%;
        gap: 10px;
    }

    .btn-ver_senha {
        margin-left: -8%;
        margin-top: 2%;
    }

    #btn-login {
        transform: translateY(-173%);
    }
}