@charset "UTF-8";

:root {
    --darkblue: #020122;
    --orange: #E05125;
    --gray: #D8D8D5;
    --white: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da barra de navegação */

.img_logo_header {
    width: 60px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--darkblue);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.541);
    height: 4em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--white);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--orange);
}

#active {
    color: var(--orange);
}

#login {
    background-color: var(--white);
    color: black;
    padding: 10px;
    border-radius: 20px;
}

#login:hover {
    color: var(--orange);
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .btn_icon_header {
        display: block;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        position: fixed;
        background-color: #030130;
        height: 100%;
        width: 40vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }
        top {
            margin-left: -11.5vw;
        }
    }
}

#cartas-controller {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    text-align: center;
    width: 75vw;
    height: 80vh;
    margin-top: 2%;
    margin: 0 auto;
    transform: translateY(5%);
}

#titulo {
    color: var(--orange);
    margin: 19px;
}

#cartas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cartaA, #cartaB, #cartaAB{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    border: 5px solid var(--white);
    padding: 20px;
}

.tipo-carta {
    color: var(--orange);
}

.textos {
    width: 100px;
    color: var(--orange);
}

.valor {
    background-color: var(--white);
    height: 30px;
    width: 100px;
    padding-top: 6px;
    margin-top: 10px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.novo-valor_carta {
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}

form input[type=submit] {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px;
    width: 95px;
    font-size: 17px;
    font-weight: normal;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

form input[type=submit]:hover {
    background-color: var(--white);
    color: var(--orange);
}

